@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,100;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.74), rgba(204, 204, 204, 0.699));
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
    font-size: 3rem;
    border-bottom: 3px solid #000;
    margin: 10px auto;
    width: 90%;
    padding: 15px;
}

.nav{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

a{
    list-style: none;
    border: 2px solid #000;
    width: 150px;
    height: 50px;
    padding: 12px;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

a:hover{
    font-size: 1.3rem;
    transition: 0.5s;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}